* {
  	box-sizing: border-box;
}

body {
	text-align: center;
	font-family: 'Lora', serif;
	color: #404040;
}

#nav-bar {
	background-color: #404040;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 5px 0 5px 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	padding: 0 8px 0 8px;
}

#nav-bar a, footer a {
	color: #FFFFFF;
}

header {
	padding: 15px 20px 50px 20px;
}

h1 {
	font-size: 2em;
	padding: 60px 0 40px 0;
	margin: 0;
	text-align: left;
}

header img {
	width: 100%;
	margin: 30px 0 20px 0;
	border: solid 3px #404040;
}

section {
	height: auto;
	padding: 0 20px 0 20px;
	text-align: left;
}

#bio {
	margin-bottom: 40px;
}

section h2 {
	font-size: 1.75em;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 40px;
	margin-top: -40px;
}

section p {
	font-size: 1em;
	margin-top: 20px;
	padding-bottom: 10px;
}

.portfolio section {
	padding: 0;
	border: solid 1px #C0C0C0;
	margin-top: 20px;
}

.portfolio img {
	width: 100%;
}

h3 {
	font-weight: 700;
	font-size: 1.25em;
	padding: 15px 0 0 10px;
}

.logo-container {
	margin-top: 12px;
}

.logo-container .logo {
	width: 45px;
	height: auto;
}

.portfolio p {
	padding: 0 10px 0 10px;
}

.demo, .code {
	text-decoration: none;
	color: #404040;
	display: inline-block;
	margin-bottom: 15px;
	font-weight: 700;
}

.demo {
	padding-left: 10px; 
}

.demo::after {
	content: ' | '
}

#contact {
	background-color: #ddd;
}

footer {
	margin-top: 20px;
	padding: 5px 0 5px 0; 
	background-color: #404040;
}

@media only screen and (min-width: 1024px) {
	h1 {
		padding: 100px 220px 100px 220px;
	}
	header {
		padding: 15px 100px 50px 100px;
	}
	section {
		padding: 0 180px 0 180px;
	}
	#nav-bar a, footer a {
		font-size: 1.25em;
	}
	li {
		padding: 0 30px 0 30px;
	}
}