* {
  	box-sizing: border-box;
}

body {
	position: relative;
	text-align: center;
	font-family: 'Lora', serif;
	color: #404040;
}

#nav-bar {
	position: absolute;
	background-color: #FFFFFF;
	top: 30px;
	/*right: 0;*/
	right: 20px;
}

/*ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline;
}*/

/*li {
	display: inline-block;
	padding: 0 8px 0 8px;
}*/

#nav-bar a, footer a {
	color: #404040;
}

#nav-bar a {
	font-size: 1.3em;
	padding: 0 5px 0 5px;
	font-weight: 550;
}

header {
	padding: 15px 20px 50px 20px;
}

#logo {
	position: absolute;
	top: 20px;
	left: 20px;
	/*display: inline-block;*/
	height: 2em;
	width: 2em;
	border: solid 3px #404040;
	/*margin: 0 auto 0 auto;*/
	font-size: 1.5em;
	font-weight: 500;
	line-height: 1.75em;
	z-index: 1;
}

h1 {
	font-size: 2em;
	padding: 100px 10px 35px 10px;
	margin: 0;
	text-align: left;
}

#border {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	border-style: inset;
}

header img {
	width: 100%;
	margin: 40px 0 20px 0;
	border: solid 3px #404040;
}

section {
	height: auto;
	padding: 0 20px 0 20px;
	text-align: left;
}

#bio {
	margin-bottom: 40px;
}

section h2 {
	font-size: 1.75em;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 40px;
	margin-top: -40px;
}

section p {
	font-size: 1em;
	margin-top: 20px;
	padding-bottom: 10px;
}

.portfolio section {
	padding: 0;
	border: solid 1px #C0C0C0;
	margin: 20px 0 40px 0;
}

.portfolio img {
	width: 100%;
}

h3 {
	font-weight: 700;
	font-size: 1.25em;
	padding: 15px 0 0 10px;
}

.logo-container {
	margin-top: 12px;
}

.logo-container .logo {
	width: 45px;
	height: auto;
}

.portfolio p {
	padding: 0 10px 0 10px;
}

.demo, .code {
	text-decoration: none;
	color: #404040;
	display: inline-block;
	margin-bottom: 15px;
	font-weight: 700;
}

.demo {
	padding-left: 10px; 
}

.demo::after {
	content: ' | '
}

#contact {
	background-color: #ddd;
}

footer {
	height: 100px;
	margin-top: 20px;
	padding: 5px 0 5px 0; 
	background-color: #404040;
	/*color: #FFFFFF;*/
}

footer div {
	/*display: inline-block;
	text-align: left;*/
	margin: 20px 0 20px 0;
}

/*footer h4 {
	margin-bottom: 0;
}*/

footer a {
	text-decoration: none;
}

footer img {
	padding: 0 15px 0 15px;
}

#github {
	height: 50px;
}

#linkedin {
	height: 40px;
}

#email {
	height: 50px;
}

@media only screen and (min-width: 768px) {
	/*#logo {
		margin: 70px auto 0 auto;
	}*/
	footer img {
		padding: 0 30px 0 30px;
	}
	h1 {
		padding: 160px 130px 50px 130px;
	}
	header img {
		margin: 65px 0 20px 0;
	}
	section {
		padding: 0 100px 0 100px;
	}
}

@media only screen and (min-width: 1024px) {
	/*#logo {
		margin: 100px auto 0 auto;
	}*/
	#nav-bar {
		right: 40px;
	}
	#logo {
		left: 40px;
	}
	h1 {
		padding: 120px 200px 50px 200px;
	}
	header {
		padding: 15px 100px 50px 100px;
	}
	header img {
		margin: 60px 0 20px 0;
	}
	section {
		padding: 0 180px 0 180px;
	}
	#nav-bar a, footer a {
		font-size: 1.25em;
	}
	li {
		padding: 0 30px 0 30px;
	}
}